body{
	background:#1d1d1d;
	font-family:sans-serif;
	color: #e4e4e4;
}

#contain{
	padding: 2%;
	margin-top: 1%;
	width: 70%;
}

#header{

}

#body{
	/*border:1px solid white;*/
	height: 450px;
}

#footer{
	margin-top: 2%;
}

#displayDropdown{
	
}

#keypad{
	
	padding-left: 0;
}

.drpdown{
	width: 95%;
	margin-top: 2%;
}

.display{
	background: #2e2e2e;
	border-top: 5px solid #fc6907;
	width: 95%;
	height: 150px;
	text-align: left;
	font-size: 4em;
	color:#ffffff;
	margin-top: 10px;
}

button{
	width: 100%;
	height: 70px;
	border:0 ;
	border-radius: 0 ;
	background-color: #3f3f3f ;
	text-align: center ;
	font-size: 2.5em ;
	color: #a8a8a8 ;
	margin-bottom: 5px;
	
	
}

.butn{
	padding-right:0;
	padding-left: 5px;
}

#r1{
	font-size: 0.8em;
}

option, button:hover{
	background-color: #fc761d;
	color: #1d1d1d;
}

button:active{
	background-color:  #e65e02;
	color: #1d1d1d;
}

select{
	background:#1d1d1d !important;
	border: 0;
}

select{
	color: white!important;
}
	

option{
	background-color: black !important;
	color: white !important;
	font-weight: bold !important;
	border: 1px solid white;
	font-size: 1em !important;
}

#select1{
	font-size: 2.5em;
	/*border:1px solid white;*/
	width: 15%;
}

.drops{
	font-size: 1.4em;
}